div {font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif}
.footer-container{
    max-width: 100%;
    margin: auto;
    padding: 4rem 6rem 4rem 6rem;
    min-height: 40vh;
    background-color: bisque;
}
  .footer-container h1 {
    text-align: center;
  }
.footer1-menu {
    margin-bottom: 1.5rem;
    display: flex;
}
.footer1-menu .row {
    margin-top: 5px;
}

.footer-h7 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.02rem;
    font-weight: 600;
    color: #2a2a2a;
    cursor: pointer;
}
.footer1-menu li {
    font-size: 13px;
    font-weight: 500;
    margin: 0;
    cursor: pointer;
}
.footer1-menu ul {
    margin: 2px;
} 
.read-more {
    cursor: pointer;
}
.read-more svg {
    margin-left: 5px;
    font-size: 16px;
    font-weight: lighter;
    color:#3f3e3e
}
.footer2-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer2-menu .row {
    justify-content: center;
}
.footer2-menu h6 {
    font-family: 'Poppins', sans-serif;
    margin: 2em 0 2em 0;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}
.footer1-menu p , .footer2-menu p{
    font-size: 12px;
}
.footer2-menu > .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0 1em 0;
    padding: 1rem;
}
.social-icons > svg {
    margin: 18px;
    font-size: 1.2rem;
    cursor: pointer;
} 

.footer2-menu img{
    margin-top: 2em;
    margin-bottom: 2em;
    width: 90px;
    cursor: pointer;
}


/* Ipad style */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    
    .footer-container{
        max-width: 100%;
        margin: auto;
        padding: 3rem 2rem 2rem 2rem;
        min-height: 40vh;
        background-color: bisque;
    }

    
    .social-icons svg {
        font-size: 1.7rem;
        margin: 0.8em;
    }
    .footer1-menu .col p {
        font-size: 1rem;
    }
}
@media only screen
    and (device-width: 430px) 
    and (device-height: 932px) 
    and (-webkit-device-pixel-ratio: 3) {
    
    .footer1-menu {
        flex-direction: column;
        text-align: center;
    }
    .footer1-menu .row , .footer-message {
        display: none;
    }
    .join-text {
        margin-top:-1em;
        padding-bottom: 1em;
    }
    .read-more {
        text-align: center;
        font-weight: 700;
        font-size: 1.2rem;
    }
    .social-icons svg {
        font-size: 1.7rem;
        margin: 0.6em;
    }
}


@media only screen and (min-device-width: 280px) and (max-device-width: 540px) {
   
    .footer1-menu {
        flex-direction: column;
        text-align: center;
    }
    .footer1-menu .row , .footer-message {
        display: none;
    }
    .footer1-menu .col p {
        font-size: 1.1rem;
        margin-bottom : 1.2em;
    }
    .join-text {
        display: none;
    }
    .read-more {
        text-align: center;
        font-weight: 700;
        font-size: 1.2rem;
        margin-top: 3rem;
    }
    .social-icons svg {
        font-size: 1.7rem;
        margin: 0.6em;
    }
}