/* Nav bar */
div {
  font-family: 'Roboto', sans-serif;
}
.logo-section div{
  display: flex;
  justify-content: center;
  margin-top:5rem;
}
.Log-btn {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  margin: 2rem 2rem 0 0;
  justify-content: flex-end;
  cursor: pointer;
}
.login-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}
.login-btn:hover {
  font-weight: bold;
}
.logout-btn{
  display: flex;
  color: #cc071e;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer !important;
}
.logout-btn:hover {
  font-weight: bold;
}
.logout-btn button {
  background-color: transparent;
  border: none;
  font-size: medium;
  font-weight: bold;
  color: #cc071e;
}
.logout-text{
  margin-left: 0px;
  font-size: medium;
}
.login-text {
  margin-left: 7px;
  font-size: medium;
}
.mobile-close{
  display: none;
}
.nav-section {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.menu-container {
  margin: 10px;
}
.menu{
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  margin: 0 17px;
  cursor: pointer;
  font-weight: regular;
  font-size: 0.97rem; 
}
.menu li {
  margin: 0 17px;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.97rem; 
}
.menu li:hover{
    text-decoration: underline;
    color:#cc071e;
}

ul {
  list-style-type: none;
}
.nav-toggle{
  display: none;

}
.search-bar {
  position: absolute;
  padding-top: 1rem;
  right:0;
  top: 0;
  margin: 8.7rem 2rem 0 0;
}
.search-bar svg {
  cursor: pointer;
}
.search-bar svg:hover {
 transform: scale(1.1);
}
.search-bar input {
  width: 180px;
  border: none; /* Remove the border */
  border-bottom: 1px solid #000; /* Add a bottom border */
  margin-left: 5px;
}
.search-bar input:focus {
  outline: none; /* Remove the outline */
}

.each-product-container div {
  text-align: center;
}
.each-product-container{
  margin: 2rem;
  cursor: pointer;
}

.product-img {
  background-image: cover;
  width: 100%;
}
.product-img:hover {
  transform: scale(1.03);
  transition: transform 0.5s;
}
.item-title{
  padding: 0.5rem 0 0 0;
  font-weight: bold;
}
.item-price{
  margin: 3px 0 3px 0;
  font-style: italic;
}

.isnew {
  margin: auto;
  color:white;
  font-family:monospace;
  font-size:small;
  width: 180px;
  border: 1px solid;
  border-radius: 0.5rem;
  background-color: #cc071e;
  font-weight: bold;
}
.choice{
  margin-top: 0.5rem;
  font-family: monospace;
  font-size: small;
  color: purple;
}
@media screen and (max-width: 1100px) {
    .logo{
      width: 70px;
    }
    .container.toggle-area{
      margin: 0;
    }
    .toggle-area button{
      display: flex;
      justify-content: flex-end;
      border: 0;
      background-color: transparent;
      font-size: 2rem;
      position: fixed; 
      left:0;
      padding: 20px;
      color: rgb(34, 34, 34)
    }
  
    .mobile-close {
      display: block;
      position: absolute;
      z-index: 2; /* positioning above the menu */
      top: 0;
      right: 0;
      margin: 1.5rem;
      font-size: 2rem;
      cursor: pointer;
    }
    .menu-container {
      z-index: 1; 
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px;/* Add position relative */
    }
    .menu-container-mobile-menu { /* this is about menu-container-monbile-menu*/
      color: white;
      z-index: 1; 
      background: #2f2c2cdc;
      padding-left: 0;
      box-shadow: 0 10px 15px -3px rgb(46 41 51 / 8%), 0 4px 6px -2px rgb(71 63 79 / 16%);
     }
    .menu-container ul { /* this is about mobile menu box design */
      position: fixed;
      top: 0%;
      right: 0%;
      width: 50vw;
      list-style: none;
      color: white;
      overflow: scroll;
      height: 100%;
      background: #000000d6;
      box-shadow: 10px 10px #cc071e;
    }
  
    .Log-btn {
      position: relative;
      justify-content: flex-start;
      margin: 2rem 0px 1rem 2rem;
    }  
   
    .login-text {
      font-size: 1.1rem; 
    }
    button.logout-text {
      font-size: 1.1rem; 
    }
    .fa-user {
      font-size: 1.1rem;
    }
    .fa-magnifying-glass {
      margin-right: 1rem;
      font-size: 1.8rem;
    }
    .menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 2em;
      margin-left: 2em;
      margin-bottom: 2em;
    }
    .menu li {
      margin-bottom: 10px;
      margin-top: 10px;
      font-size: 1.3em;
      color: whitesmoke;
    }
    .menu-list { /*  hiding regular menu on mobile */
      display: none
    }
  
    .search-bar {
      position: relative;
      display:flex;
      align-items: center;
      justify-content: flex-start;
      margin: 2rem 2rem 2rem 2rem;
    }
  
    .search-bar input {
      width: 50vw;
      font-size: 1.3em;
      padding-left: 10px;
    }

    .detail-description-area h2{
      font-size:1.3rem;
    }
    .detail-description-area div {
      font-size: 1.2rem;
    }
    .detail-description-area select {
      margin-top: 1rem;
      font-size: 1.3rem;
      margin-bottom: 3rem;
    } 
}
/* == iPad MINI == */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .logo{
    width: 70px;
  }
  .container.toggle-area{
    margin: 0;
  }
  .toggle-area button{
    display: flex;
    justify-content: flex-end;
    border: 0;
    background-color: transparent;
    font-size: 3rem;
    position: fixed; 
    left:0;
    padding: 20px;
    color: rgb(34, 34, 34);
  }

  .mobile-close {
    display: block;
    position: absolute;
    z-index: 2; /* positioning above the menu */
    top: 0;
    right: 0;
    margin: 1.5rem;
    font-size: 4rem;
    cursor: pointer;
  }
  .menu-container {
    z-index: 1; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;/* Add position relative */
  }
  .menu-container-mobile-menu { /* this is about menu-container-monbile-menu*/
    color: white;
    z-index: 1; 
    background: #2f2c2cdc;
    padding-left: 0;
    box-shadow: 0 10px 15px -3px rgb(46 41 51 / 8%), 0 4px 6px -2px rgb(71 63 79 / 16%);
   }
  .menu-container ul { /* this is about mobile menu box design */
    position: fixed;
    top: 0%;
    right: 0%;
    width: 80vw;
    list-style: none;
    color: white;
    overflow: scroll;
    height: 100vh;
    background: #000000d6;
    transform: translateX(-180px) translateY(-100); 
    transition: transform ease-in-out 0.2s;
    box-shadow: 10px 10px #cc071e;
  }

  .Log-btn {
    position: relative;
    justify-content: flex-start;
    margin: 2rem 0px 1rem 2rem;
  }  
 
  button.logout-text {
    font-size:2rem;
  } 
  .login-text{
    font-size: 2rem;
    font-weight: bold;
  }
  .fa-user, .fa-magnifying-glass {
    font-size: 2rem; 
    margin-right: 1rem;
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2em;
    margin-left: 2em;
    margin-bottom: 2em;
  }
  .menu li {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 2em;
    color: whitesmoke;
  }
  .menu-list { /*  hiding regular menu on mobile */
    display: none
  }

  .search-bar {
    position: relative;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    margin: 2rem 0px 2rem 2rem;
  }

  .search-bar input {
    width: 50vw;
    font-size: 2rem;
    padding-left: 10px;
  }
  .detail-description-area h2{
    font-size:2rem;
  }
  .detail-description-area div {
    font-size: 1.2rem;
  }
  .detail-description-area select {
    margin-top: 1rem;
    font-size: 1.5rem;
  } 
}

/* iPhone 14 Pro Max */
@media only screen
    and (device-width: 430px) 
    and (device-height: 932px) 
    and (-webkit-device-pixel-ratio: 3) {
      .toggle-area button{
        display: flex;
        justify-content: flex-end;
        border: 0;
        background-color: transparent;
        font-size: 3rem;
        position: fixed; 
        left:0;
        padding: 20px;
        color:rgb(34, 34, 34);
      }
      .logo{
        width: 70px;
      }

      .mobile-close {
        display: block;
        position: absolute;
        z-index: 2; /* positioning above the menu */
        top: 0;
        right: 0;
        margin: 1rem;
        font-size: 3rem;
        cursor: pointer;
      }
      .menu-container {
        z-index: 1; 
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;/* Add position relative */
      }
      .menu-container-mobile-menu { /* this is about menu-container-monbile-menu*/
        color: white;
        z-index: 1; 
        background: #2f2c2c;
        padding-left: 0;
        box-shadow: 0 10px 15px -3px rgb(46 41 51 / 8%), 0 4px 6px -2px rgb(71 63 79 / 16%);
       }

    
      .Log-btn {
        position: relative;
        justify-content: flex-start;
        margin: 25px 0px 15px 25px;
      }  
     
  button.logout-text {
    font-size:2rem;
  } 
  .login-text{
    font-size: 2rem;
    font-weight: bold;
  }
  .fa-user, .fa-magnifying-glass {
    font-size: 2rem; 
    margin-right: 1rem;
  }
      .menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 2em;
        margin-left: 2em;
        margin-bottom: 2em;
      }
      .menu li {
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 2em;
        color: whitesmoke;
      }
      .menu-list { /*  hiding regular menu on mobile */
        display: none
      }
    
      .search-bar {
        position: relative;
        display:flex;
        align-items: center;
        justify-content: flex-start;
        margin: 15px 0px 10px 20px;
      }
    
      .search-bar input {
        width: 50vw;
        font-size: 2em;
        padding-left: 10px;
      }
}

/* smaller mobile devices */
@media only screen and (min-device-width: 360px) and (max-device-width: 540px) {
  .logo{
    width: 100px;
  }

  .container.toggle-area{
    margin: 0;
  }
.nav-toggle{
  display:flex;

}
  .toggle-area button{
    display: flex;
    justify-content: flex-end;
    border: 0;
    background-color: transparent;
    font-size: 3rem;
    position: fixed; 
    left:0;
    color: rgb(34, 34, 34);
  }
  .toggle-area svg {
    padding-right: 1rem;
  }

  .menu-container {
    z-index: 1; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;/* Add position relative */
  }
  .menu-container-mobile-menu { /* this is about menu-container-monbile-menu*/
    color: white;
    z-index: 1; 
    background: #2f2c2c;
    padding-left: 0;
    box-shadow: 0 10px 15px -3px rgb(46 41 51 / 8%), 0 4px 6px -2px rgb(71 63 79 / 16%);
  }
  .menu-container ul {
    position: fixed;
    top: 0%;
    right: 0%;
    width: 100vw;
    margin-right: 0rem;
    list-style: none;
    color: white;
    overflow: scroll;
    height: 100%;
    background: #2f2c2cf9;
    box-shadow: 10px 10px #cc071e;
  }
    .mobile-close {
    display: block;
    position: inherit;
    z-index: 2; /* positioning above the menu */
    top: 0;
    right: 0;
    margin-right: 2rem;
    margin-top: 0.7rem;
    font-size: 3rem;
    cursor: pointer;
  }

  .Log-btn {
    position: relative;
    justify-content: flex-start;
    margin: 2rem 0px 1rem 1rem;
  } 
  button.logout-text {
    font-size:2rem;
  } 
  .login-text{
    font-size: 2rem;
    font-weight: bold;
  }
  .fa-user, .fa-magnifying-glass {
    font-size: 2rem; 
    margin-right: 1rem;
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2em;
    margin-left: 2em;
    margin-bottom: 2em;
    overflow: scroll;
  }
  .menu li {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 2em;
    color: whitesmoke;
  }
  .menu-list { /*  hiding regular menu on mobile */
    display: none
  }

  .search-bar {
    margin: 1rem 5rem 1rem 0rem;
  }

  .search-bar input {
    width: 50vw;
    font-size: 2em;
    padding-left: 1rem;
  }
}