/* Nav bar */
div {
  font-family: 'Roboto', sans-serif;
}
.login-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 30px;
  cursor: pointer;
}
.login-btn:hover {
  font-weight: bold;
}
.logout-btn{
  display: flex;
  color: red;
  justify-content: flex-end;
  align-items: center;
  margin: 30px;
  cursor: pointer !important;
}
.logout-btn:hover {
  font-weight: bold;

}
.logout-text{
  margin-left: 7px;
  font-size: medium;

}
.login-text {
  margin-left: 7px;
  font-size: medium;
}
.nav-section {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.menu-container {
  display: flex;
  justify-content: center;
  margin: 10px;
  position: relative; /* Add position relative */
}

.menu-list {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 15px;
}
.menu-list li {
  margin: 0 17px;
  cursor: pointer;
  font-weight: regular;
  font-size: 0.97rem; 
}
.menu-list li:hover {
  transform: scale(1.1);
}
.search-bar {
  position: absolute;
  /* locate this to the right edge */
  right: 0;
  margin: 15px;
  padding-right: 3rem;
  padding-bottom: 1rem;
}
.search-bar svg {
  cursor: pointer;
}
.search-bar svg:hover {
 transform: scale(1.1);
}
.search-bar input {
  width: 180px;
  border: none; /* Remove the border */
  border-bottom: 1px solid #000; /* Add a bottom border */
  margin-left: 5px;
}
.search-bar input:focus {
  outline: none; /* Remove the outline */
}


.each-product-container{
  margin: 2rem;
  cursor: pointer;
}
.each-product-container:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}
.product-img {
  background-image: cover;
  width: 100%;
}
.choice{
  font-family: monospace;
  font-size: small;
  color: purple;
}



@media screen and (max-width: 1200px) {
  .logo{
    width: 60px;
  }
  .menu-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    position: relative; /* Add position relative */
  }
  .menu-container ul {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  .nav-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
  }
  .search-bar {
    position:static; /* Remove absolute positioning */
    margin-top: 30px; /* Remove margin */
    padding: 0; /* Remove padding */
    display: block; /* Display search-bar as a block element */
  }
  .search-bar input {
    width: 300px;}
}